{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>SOSTECH&CODE</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'home_page/styles.css'%}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#!">Python, simple y sencillo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Información</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about/">Sobre Nosotros</a></li>
                        {% if user.is_authenticated %}
                            <!--<li class="nav-item"><a class="nav-link" href="#!">Menú</a></li>-->
                            <li class="nav-item"><a class="nav-link" href="/accounts/profile/">Perfil</a></li>
                            <li class="nav-item"><a class="nav-link" href="/logout/">Cerrar Sesión</a></li>
                            <div class="dropdown">
                                <button class="menu-button">Menú</button>
                                <div class="dropdown-content">
                                    <a href="/classes/">Clases</a>
                                    <a href="/forum/">Foro</a>
                                    <a href="/direct/">Mensajes</a>
                                </div>
                            </div>
                            </div>    
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="/login/">Iniciar Sesión</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header - set the background image for the header in the line below-->
        <header class="py-5 bg-image-full" style="background-image: url('https://cutewallpaper.org/21/programming-wallpapers-hd/37-Programmer-Code-Wallpaper-Backgrounds-Free-Download.png')">
            <div class="text-center my-5">
                <img class="img-fluid rounded-circle mb-4" src="https://i.imgur.com/Bb059XS.jpg" alt="..." />
                <!--<h1 class="text-white fs-3 fw-bolder">Python, CSS, HTML</h1>-->
                <!--<p class="text-white">Con nuestros cursos puedes aprender Python de forma sencilla.</p>-->
            </div>
        </header>
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <center><h2>¿Cómo empezar con Python?</h2></center>
                        <br>
                        <p class="lead">Antes de que aprendas a utilizar el lenguaje, necesitas instalarlo y configurarlo.</p>
                        <p class="mb-0">Primero, para instalar Python debemos ir al <a href="https://www.python.org/downloads/" target="_blank">sitio web oficial de Python</a> para descargarlo, y elegir una versión adecuada para nosotros.</p>
                        <br>
                        <img class="img-fluid" src="https://i.imgur.com/G1Ow6hb.jpg" width="1170" height="376" alt="..." />
                        <br>
                        <br>
                        <p class="mb-0">Al elegir una versión de Python, recomendamos elegir la versión más reciente, pero si deseas podrías investigar para ver cual te conviene más, ya que diferentes versiones a veces pueden funcionar diferente, de igual forma, para los principiantes simplemente recomendamos la versión más reciente.</p>
                        <br>
                        <img class="img-fluid" src="https://docs.python.org/3/_images/win_installer.png" width="1170" height="376" alt="..." />
                        <br>
                        <br>
                        <p class="mb-0">Luego de abrir el instalador, este practicamente se explica por si mismo, simplemente <strong>asegúrate de marcar ambas casilas.</strong> Luego de que se complete la instalación, valga la redundancia, estás listo para aprender a usar Python.</p>
                        <br>
                        <center><h2>¿Cómo saber si se instaló correctamente?</h2></center>
                        <br>
                        <p class="mb-0">Obviamente, una vez terminada la instalción querremos saber si se instaló correctamente o no. Para ver esto, debemos seguir los siguientes pasos:</p>
                        <br>
                        <ul style="list-style: none;">
                            <li><strong>1.</strong> Presionar la tecla <strong>'windows'</strong> y <strong>'r'</strong> al mismo tiempo.</li>
                            <br>
                            <li><strong>2.</strong> Escribir <code>"cmd"</code> en el campo.</li>
                        </ul>
                        <br>
                        <Center><img class="img-fluid" src="https://i.imgur.com/OklU5Mz.png" width="394" height="198" alt="..." /></center>
                        <br>
                        <ul style="list-style: none">
                            <li><strong>3.</strong> Presiona <strong>"enter"</strong>.</li>
                        </ul>
                        <br>
                        <Center><img class="img-fluid" src="https://i.imgur.com/NSQfPl9.pngg" width="982" height="518" alt="..." /></center>
                        <br>
                        <ul style="list-style: none;">
                            <li><strong>4.</strong> Escribe <code>"python --version"</code> y presiona <Strong>"enter"</strong></li>
                        </ul>
                        <br>
                        <Center><img class="img-fluid" src="https://i.imgur.com/Qb1HVfj.png" width="982" height="518" alt="..." /></center>
                        <br>
                        <p class="mb-0">Listo, como podemos ver, Python está instalado, y nos dice qué versión instalamos.</p>
                        <br>
                        <center><h2>Recomendaciones</h2></center>
                        <br>
                        <p class="mb-0">En nuestra guías, especialmente las primeras, serán principalmente en el <strong>editor IDLE de Python normal</strong>, pero es bueno familiarizarnos con otros interpreters... Estos son los que recomendamos:</p>
                        <br>
                        <div id="custom-menu">
                            <ul class="one">
                                <strong><li>Visual Estudio</li></strong>
                                <Strong><li>IDLE Python</li></strong>
                                <strong><li>Notepad++</li></strong>
                            </ul>
                        </div>
                        <div class="images">
                            <ul class="two">
                                <li><img class="img-fluid" src="https://i.imgur.com/gQFxPq7.jpg" alt="..." style="padding:12px;"width="900" height="900"/></li>
                                <li><img class="img-fluid" src="https://i.imgur.com/hpphBev.jpg" alt="..." style="padding:12px;"width="900" height="900"/></li>
                                <li><img class="img-fluid" src="https://i.imgur.com/OCwUPxj.jpg" alt="..." style="padding:12px;"width="900" height="900"/></li>
                            </ul>
                        </div>
                        <br>
                        <P class="mb-0"><strong>Visual Studio Code:</strong> Recomendamos VS Code porque es uno de los editores más completos disponibles, no solamente para Python pero para cualquier lenguaje. Es organizado, tiene muy buenas funciones y opciones, es personalizable y fácil de tomar, y sobre todo nos ofrece gran comomidad al manejar grandes directorios, como por ejemplo el de un website. Sin duda recomendamos VS Code para la mayoría de personas.</p>
                        <br>
                        <p class="mb-0"><strong>Python:</strong> El editor de Python es simplemente eso, un simple editor que viene integrado con Python, como si fuera un bloque de notas, funciona bastante bien.</p>
                        <br>
                        <p class="mb-0"><strong>Notepad++:</strong> Notepad++ es literalmente bloque de notas con esteroides, pero aún así es el editor que menos recomendamos para principiantes, puede resultar un poco difícil a veces o poco intuitivo.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Image element - set the background image for the header in the line below-->
        <div class="py-5 bg-image-full" style="background-image: url('https://miro.medium.com/max/1838/1*HLGtY6O2vUHqIyEbWdmBgA.jpeg')">
            <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
            <div style="height: 20rem"></div>
        </div>
        <!-- Content section-->
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; RD Coding Network, 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src='js/scripts.js'></script>
    </body>
</html>
