{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>SOSTECH&CODE</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'home_page/styles.css'%}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#!">Python, simple y sencillo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Información</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about/">Sobre Nosotros</a></li>
                        {% if user.is_authenticated %}
                            <!--<li class="nav-item"><a class="nav-link" href="#!">Menú</a></li>-->
                            <li class="nav-item"><a class="nav-link" href="/accounts/profile/">Perfil</a></li>
                            <li class="nav-item"><a class="nav-link" href="/logout/">Cerrar Sesión</a></li>
                            <div class="dropdown">
                                <button class="menu-button">Menú</button>
                                <div class="dropdown-content">
                                    <a href="/classes/">Clases</a>
                                    <a href="/forum/">Foro</a>
                                    <a href="/direct/">Mensajes</a>
                                </div>
                            </div>
                            </div>    
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="/login/">Iniciar Sesión</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header - set the background image for the header in the line below-->
        <header class="py-5 bg-image-full" style="background-image: url('https://cutewallpaper.org/21/programming-wallpapers-hd/37-Programmer-Code-Wallpaper-Backgrounds-Free-Download.png')">
            <div class="text-center my-5">
                <img class="img-fluid rounded-circle mb-4" src="https://i.imgur.com/Bb059XS.jpg" alt="..." />
                <!--<h1 class="text-white fs-3 fw-bolder">Python, CSS, HTML</h1>-->
                <!--<p class="text-white">Con nuestros cursos puedes aprender Python de forma sencilla.</p>-->
            </div>
        </header>
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <center><h2>¿Que necesitas ver?</h2></center>
                        <center><p class="text-muted">Tutoriales proporcionados por la <a href="https://docs.python.org/es/3/tutorial/" target="blank">documentación oficial de Python</a></p></center>
                        <center><p class="lead">Elige lo que quieras aprender hoy.</p></center>
                        <p class="mb-0">Esta es la lista de aprendizajes que tenemos disponibles de Python, con ayuda de la <a href="https://www.python.org/" target="_blank">web oficial de Python</a>.</p>
                        <br>
                        <ul>
                            <li><a href="/python_page/py-installation/"><strong>1.</strong> Instalación</a></li>
                            <!-- crear lista con numeros -->
                            <li><a href="/python_page/py-defaultidle/"><strong>2.</strong> Python IDLE shell y editor</a></li>
                            <li><a href="/python_page/py-intro/"><strong>3.</strong> Introducción</a></li>
                            <li style="padding-left: 25px;list-style:none"><strong>3.1.</strong> Usando Python como calculadora</li>
                            <li style="padding-left: 45px;list-style:none"><strong>3.1.1.</strong> Números</li>
                            <li style="padding-left: 45px;list-style:none"><strong>3.1.2.</strong> Cadenas de caracteres</li>
                            <li style="padding-left: 45px;list-style:none"><strong>3.1.3.</strong> Listas</li>
                            <li style="padding-left: 25px;list-style:none"><strong>3.2.</strong> Primeros pasos hacia la programación</li>
                            <li><a href="/python_page/py-fluent-tools/"><strong>4.</strong> Herramientas para el control de flujo.</a></li>
                            <li style="padding-left: 25px;list-style:none"><strong>4.1.</strong> La sentencia <code>if</code></li>
                            <li style="padding-left: 25px;list-style:none"><strong>4.2.</strong> La sentencia <code>for</code></li> 
                            <li style="padding-left: 25px;list-style:none"><strong>4.3.</strong> La función <code>range()</code></li>                            
                            <li style="padding-left: 25px;list-style:none"><strong>4.4.</strong> Las sentencias <code>break, continue</code> y <code>else</code></li>                            
                            <li style="padding-left: 25px;list-style:none"><strong>4.5.</strong> La sentencia <code>pass</code></li>                            
                            <li style="padding-left: 25px;list-style:none"><strong>4.6.</strong> La sentencia <code>match</code></li>                            
                            <li style="padding-left: 25px;list-style:none"><strong>4.7.</strong> Definiendo funciones</li>                            
                            <li style="padding-left: 25px;list-style:none"><strong>4.8.</strong> Más sobre definición de funciones</li>                            
                            <li style="padding-left: 45px;list-style:none"><strong>4.8.1.</strong> Argumentos con valores por omisión</li>
                            <li style="padding-left: 45px;list-style:none"><strong>4.8.2.</strong> Palabras claves como argumentos</li>
                            <li style="padding-left: 45px;list-style:none"><strong>4.8.3.</strong> Parámetros especiales</li>
                            <li style="padding-left: 65px;list-style:none"><strong>4.8.3.1</strong> Argumentos posicionales o de palabras claves</li>
                            <li style="padding-left: 65px;list-style:none"><strong>4.8.3.2</strong> Parámetros únicamente posicionales</li>
                            <li style="padding-left: 65px;list-style:none"><strong>4.8.3.3</strong> Argumentos únicamente de palabras clave</li>
                            <li style="padding-left: 65px;list-style:none"><strong>4.8.3.4</strong> Ejemplos de Funciones</li>
                            <li style="padding-left: 65px;list-style:none"><strong>4.8.3.5</strong> Resumen</li>                        
                            <li style="padding-left: 45px;list-style:none"><strong>4.8.4.</strong> Listas de argumentos arbitrarios </li>
                            <li style="padding-left: 45px;list-style:none"><strong>4.8.5.</strong> Desempaquetando una lista de argumentos</li>
                            <li style="padding-left: 45px;list-style:none"><strong>4.8.6.</strong> Expresiones lambda</li>
                            <li style="padding-left: 45px;list-style:none"><strong>4.8.7.</strong> Cadenas de texto de documentación</li>
                            <li style="padding-left: 45px;list-style:none"><strong>4.8.8.</strong> Anotación de funciones</li>
                            <li style="padding-left: 25px;list-style:none"><strong>4.9.</strong>Intermezzo: Estilo de codificación</li>
                            <li><a href="/python_page/py-data-structures/"><strong>5.</strong> Estructuras de datos</a></li> 
                            <li style="padding-left: 25px;list-style:none"><strong>5.1.</strong> Más sobre listas</li>
                            <li style="padding-left: 45px;list-style:none"><strong>5.1.1.</strong> Usando listas como pilas</li>
                            <li style="padding-left: 45px;list-style:none"><strong>5.1.2.</strong> Usando listas como colas</li>
                            <li style="padding-left: 45px;list-style:none"><strong>5.1.3.</strong> Comprensión de listas</li>
                            <li style="padding-left: 45px;list-style:none"><strong>5.1.4.</strong> Listas por comprensión anidadas</li>
                            <li style="padding-left: 25px;list-style:none"><strong>5.2.</strong> La instrucción <code>del</code></li>
                            <li style="padding-left: 25px;list-style:none"><strong>5.3.</strong> Tuplas y secuencias</li>
                            <li style="padding-left: 25px;list-style:none"><strong>5.4.</strong> Conjuntos</li>
                            <li style="padding-left: 25px;list-style:none"><strong>5.5.</strong> Diccionarios</li>
                            <li style="padding-left: 25px;list-style:none"><strong>5.6.</strong> Técnicas de iteración</li>
                            <li style="padding-left: 25px;list-style:none"><strong>5.7.</strong> Más acerca de condiciones</li>
                            <li style="padding-left: 25px;list-style:none"><strong>5.8.</strong> Comparando secuencias y otros tipos</li>
                            <li><a href="/python_page/py-modules/"><strong>6.</strong> Módulos</a></li> 
                            <li style="padding-left: 25px;list-style:none"><strong>6.1.</strong> Más sobre los módulos</li>
                            <li style="padding-left: 45px;list-style:none"><strong>6.1.1.</strong> Ejecutando módulos como scripts</li>
                            <li style="padding-left: 45px;list-style:none"><strong>6.1.2.</strong> El camino de búsqueda de los módulos</li>
                            <li style="padding-left: 45px;list-style:none"><strong>6.1.3.</strong> Archivos «compilados» de Python</li>
                            <li style="padding-left: 25px;list-style:none"><strong>6.2.</strong> Módulos estándar</li>
                            <li style="padding-left: 25px;list-style:none"><strong>6.3.</strong> La función <code>dir()</code></li>                            
                            <li style="padding-left: 25px;list-style:none"><strong>6.4.</strong> Paquetes</li>
                            <li style="padding-left: 45px;list-style:none"><strong>6.4.1.</strong> Importando * desde un paquete</li>
                            <li style="padding-left: 45px;list-style:none"><strong>6.4.2.</strong> Referencias internas en paquetes</li>
                            <li style="padding-left: 45px;list-style:none"><strong>6.4.3.</strong> Paquetes en múltiples directorios</li>
                            <li><a href="/python_page/py-input-and-output/"><strong>7.</strong> Entrada y salida</a></li> 
                            <li style="padding-left: 25px;list-style:none"><strong>7.1.</strong> Formateo elegante de la salida</li>
                            <li style="padding-left: 45px;list-style:none"><strong>7.1.1.</strong> Formatear cadenas literales</li>
                            <li style="padding-left: 45px;list-style:none"><strong>7.1.2.</strong> El método <code>format()</code> de cadenas</li>
                            <li style="padding-left: 45px;list-style:none"><strong>7.1.3.</strong> Formateo manual de cadenas</li>
                            <li style="padding-left: 45px;list-style:none"><strong>7.1.4.</strong> Viejo formateo de cadenas</li>
                            <li style="padding-left: 25px;list-style:none"><strong>7.2.</strong> Leyendo y escribiendo archivos</li>
                            <li style="padding-left: 45px;list-style:none"><strong>7.2.1.</strong> Métodos de los objetos Archivo</li>
                            <li style="padding-left: 45px;list-style:none"><strong>7.2.2.</strong> Guardar datos estructurados con <code>json</code></li>
                            <li><a href="/python_page/py-errors-and-exceptions/"><strong>8.</strong> Errores y excepciones</a></li> 
                            <li style="padding-left: 25px;list-style:none"><strong>8.1.</strong> Errores de sintaxis</li>
                            <li style="padding-left: 25px;list-style:none"><strong>8.2.</strong> Excepciones</li>
                            <li style="padding-left: 25px;list-style:none"><strong>8.3.</strong> Gestionando excepciones</li>
                            <li style="padding-left: 25px;list-style:none"><strong>8.4.</strong> Lanzando excepciones</li>
                            <li style="padding-left: 25px;list-style:none"><strong>8.5.</strong> Encadenamiento de excepciones</li>
                            <li style="padding-left: 25px;list-style:none"><strong>8.6.</strong> Excepciones definidas por el usuario</li>
                            <li style="padding-left: 25px;list-style:none"><strong>8.7.</strong> Definiendo acciones de limpieza</li>
                            <li style="padding-left: 25px;list-style:none"><strong>8.8.</strong> Acciones predefinidas de limpieza</li>
                            <li><a href="/python_page/py-classes/"><strong>9.</strong> Clases</a></li> 
                            <li style="padding-left: 25px;list-style:none"><strong>9.1.</strong> Unas palabras sobre nombres y objetos</li>
                            <li style="padding-left: 25px;list-style:none"><strong>9.2.</strong> Ámbitos y espacios de nombres en Python</li>                    
                            <li style="padding-left: 45px;list-style:none"><strong>9.2.1.</strong> Ejemplo de ámbitos y espacios de nombre</li>
                            <li style="padding-left: 25px;list-style:none"><strong>9.2.</strong> Ámbitos y espacios de nombres en Python</li>
                            <li style="padding-left: 45px;list-style:none"><strong>9.2.1.</strong> Ejemplo de ámbitos y espacios de nombre</li>
                            <li style="padding-left: 25px;list-style:none"><strong>9.3.</strong> Un primer vistazo a las clases</li>                    
                            <li style="padding-left: 45px;list-style:none"><strong>9.3.1.</strong> Sintaxis de definición de clases</li>
                            <li style="padding-left: 45px;list-style:none"><strong>9.3.2.</strong> Objetos clase</li>
                            <li style="padding-left: 45px;list-style:none"><strong>9.3.3.</strong> Objetos instancia</li>
                            <li style="padding-left: 45px;list-style:none"><strong>9.3.4.</strong> Objetos método</li>
                            <li style="padding-left: 45px;list-style:none"><strong>9.3.5.</strong> Variables de clase y de instancia</li>
                            <li style="padding-left: 25px;list-style:none"><strong>9.4.</strong> Algunas observaciones</li>                    
                            <li style="padding-left: 25px;list-style:none"><strong>9.5.</strong> Herencia</li>                    
                            <li style="padding-left: 45px;list-style:none"><strong>9.5.1.</strong> Herencia múltiple</li>
                            <li style="padding-left: 25px;list-style:none"><strong>9.6.</strong> Variables privadas</li>                    
                            <li style="padding-left: 25px;list-style:none"><strong>9.7.</strong> Cambalache</li>                    
                            <li style="padding-left: 25px;list-style:none"><strong>9.8.</strong> Iteradores</li>                    
                            <li style="padding-left: 25px;list-style:none"><strong>9.9.</strong> Generadores</li>                    
                            <li style="padding-left: 25px;list-style:none"><strong>9.10.</strong> Expresiones generadoras</li>                    
                            <li><a href="/python_page/py-standard-library/"><strong>10.</strong> Pequeño paseo por la Biblioteca Estándar</a></li>                         
                            <li style="padding-left: 25px;list-style:none"><strong>10.1.</strong> Interfaz al sistema operativo</li>
                            <li style="padding-left: 25px;list-style:none"><strong>10.2.</strong> Comodines de archivos</li>
                            <li style="padding-left: 25px;list-style:none"><strong>10.3.</strong> Argumentos de linea de órdenes</li>
                            <li style="padding-left: 25px;list-style:none"><strong>10.4.</strong> Redirigir la salida de error y finalización del programa</li>
                            <li style="padding-left: 25px;list-style:none"><strong>10.5.</strong> Coincidencia en patrones de cadenas</li>
                            <li style="padding-left: 25px;list-style:none"><strong>10.6.</strong> Matemática</li>
                            <li style="padding-left: 25px;list-style:none"><strong>10.7.</strong> Acceso a Internet</li>
                            <li style="padding-left: 25px;list-style:none"><strong>10.8.</strong> Fechas y tiempos</li>
                            <li style="padding-left: 25px;list-style:none"><strong>10.9.</strong> Compresión de datos</li>
                            <li style="padding-left: 25px;list-style:none"><strong>10.10.</strong> Medición de rendimiento</li>
                            <li style="padding-left: 25px;list-style:none"><strong>10.11.</strong> Control de calidad</li>
                            <li style="padding-left: 25px;list-style:none"><strong>10.12.</strong> Las pilas incluidas</li>
                            <li><a href="/python_page/py-standard-library_pt2/"><strong>11.</strong> Pequeño paseo por la Biblioteca Estándar— Parte II</a></li>                         
                            <li style="padding-left: 25px;list-style:none"><strong>11.1.</strong> Formato de salida</li>
                            <li style="padding-left: 25px;list-style:none"><strong>11.2.</strong> Plantillas</li>
                            <li style="padding-left: 25px;list-style:none"><strong>11.3.</strong> Trabajar con registros estructurados conteniendo datos binarios/li>
                            <li style="padding-left: 25px;list-style:none"><strong>11.4.</strong> Multi-hilos</li>
                            <li style="padding-left: 25px;list-style:none"><strong>11.5.</strong> Registrando</li>
                            <li style="padding-left: 25px;list-style:none"><strong>11.6.</strong> Referencias débiles</li>
                            <li style="padding-left: 25px;list-style:none"><strong>11.7.</strong> Herramientas para trabajar con listas</li>
                            <li style="padding-left: 25px;list-style:none"><strong>11.8.</strong> Aritmética de punto flotante decimal</li>
                            <li><a href="/python_page/py-virtual-environments/"><strong>12.</strong> Entornos Virtuales y Paquetes</a></li>                         
                            <li style="padding-left: 25px;list-style:none"><strong>12.1.</strong> Introducción</li>
                            <li style="padding-left: 25px;list-style:none"><strong>12.2.</strong> Creando Entornos Virtuales</li>
                            <li style="padding-left: 25px;list-style:none"><strong>12.3.</strong> Manejando paquetes con pip</li>
                            <li><a href="/python_page/py-now-what/"><strong>13.</strong> ¿Y ahora qué?</a></li>                         
                            <li><a href="/python_page/py-interactive-inputs/"><strong>14.</strong> Edición de entrada interactiva y sustitución de historial</a></li>                         
                            <li style="padding-left: 25px;list-style:none"><strong>14.1.</strong> Autocompletado con tab e historial de edición</li>
                            <li style="padding-left: 25px;list-style:none"><strong>14.2.</strong> Alternativas al intérprete interactivo</li>
                            <li><a href="/python_page/py-arithmetics/"><strong>15.</strong> Aritmética de Punto Flotante: Problemas y Limitaciones</a></li>                         
                            <li style="padding-left: 25px;list-style:none"><strong>15.1.</strong> Error de Representación</li>
                            <li><a href="/python_page/py-apendice/"><strong>16.</strong> Apéndice</a></li>                         
                            <li style="padding-left: 25px;list-style:none"><strong>16.1.</strong> Modo interactivo</li>
                            <li style="padding-left: 45px;list-style:none"><strong>16.1.1.</strong> Manejo de errores</li>
                            <li style="padding-left: 45px;list-style:none"><strong>16.1.2.</strong> Programas ejecutables de Python</li>
                            <li style="padding-left: 45px;list-style:none"><strong>16.1.3.</strong> El archivo de inicio interactivo</li>
                            <li style="padding-left: 45px;list-style:none"><strong>16.1.4.</strong> Los módulos de customización</li>
                        <ul>    
                    </div>
                </div>
            </div>
        </section>
        <!-- Image element - set the background image for the header in the line below-->
        <div class="py-5 bg-image-full" style="background-image: url('https://miro.medium.com/max/1838/1*HLGtY6O2vUHqIyEbWdmBgA.jpeg')">
            <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
            <div style="height: 20rem"></div>
        </div>
        <!-- Content section-->
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; RD Coding Network, 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src='js/scripts.js'></script>
    </body>
</html>
